<div class="center jumbotron">
  <h1>Welcome to MicroPost</h1>

  <h2>
    This is the home page for
    micropost application.
  </h2>

  <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
</div>
